h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#lang{
   
    text-align: center;
}
a{
    text-decoration: none;
    color:blue
}
span{
    color: black;
}
img{
    position:relative;
    top:120px;
    left:650px;
}
.english{
    position: relative;
    right: 200px;
    bottom:100px;
}
.Русский {
    position: relative;
    right: 250px;
    bottom:100px;

}
.Español{
    position: relative;
    right: 260px;
    bottom:100px;
}
.Italiano{
    position: relative;
    right: 250px;
    bottom:100px;
}
.فارسی{ 
     position: relative;
    right: 200px;
    bottom:100px;

} 
.日本語{
    position:relative;
    left: 200px;
     bottom:400px;
}
.Deutsch{
    position:relative;
    left: 250px;
     bottom:400px;
}
.Français
{
    position: relative;
    left: 260px;
    bottom:400px;

}
.中文{
    position: relative;
    left: 250px;
    bottom:400px;

}
.Polski{
    position:relative;
    left: 200px;
     bottom:400px;
}
input{
    width: 400px;
    height: 40px;
    border: 1px solid black;
}
footer{
    position: relative;
    bottom: 350px;
    align-items: center;
}
.searchbutton
{
    height: 40px;
    background-color: blue;
border: 2px solid blue;
color: white;
}
